body
{
	text-align:center;
	background: #e2e2cd url("../images/body_bg_01.gif") top left repeat-x;
}
#container
{
	position:relative;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
	width:360px;

}

/* ***************************
       Header
**************************** */

div#header {
position: relative;
height: 1%;
margin-bottom: 20px;
padding: 30px 30px 0 30px;
}

div#header h1 {
text-align: left;
}
div#header h1 a, div#header h1 span {
background: url("../images/logo.png") bottom left no-repeat;
display: block;
width: 270px;
padding-top: 10px;
text-indent: -9999px;
overflow: hidden;
outline: none;
}

div#header ul {
position: absolute;
right: 30px;
bottom: -5px;
}
div#header ul li {
float: left;
list-style: none;
font-weight: bold;
}
div#header ul li a {
color: #666;
display: block;
padding: 7px 7px 7px 7px;
margin: 0 0.5em;
font-size: 14px;
outline: none;
font-family: Arial, sans-serif; /* fixes ff mac 1px helvetica line height problem > http://archivist.incutio.com/viewlist/css-discuss/96327 */
}
div#header ul li a:hover {
text-decoration: none;
background: #ececde;
}
div#header ul li a:hover span {
border-bottom: 1px dotted #999;
}

div#header ul li.login {
margin-left: 0.85em;
}
div#header ul li.login a {
display: block;
color: #fff;
font-size: 14px;
background: url(login_01.gif) bottom left no-repeat;
margin: 0;
text-align: center;
cursor: pointer;
width: 66px;
padding: 6px 0 6px 0; 
}
div#header ul li.login a:hover {
background: url(login_01.gif) bottom left no-repeat;
}
div#header ul li.login a:hover span {
border: none;
}

div#header ul li.selected a span {
border-bottom: 1px dotted #666;
}

#top
{
	position:relative;
	width:100%;
	height:20px;
	padding:2px;
	background-color:#005B7F;
	text-align:center;
	font-family:Verdana;
	color:white;
	font-size:12pt;
}

#login_form
{
	position:relative;
	width:100%;
	height:230px;
	padding:2px;	
	font-family:Verdana;
	color:white;
	font-size:10pt;
	background-color:#A7A7A7;
}

#welcome_message
{
	text-align:center;
	margin-top:10px;
	margin-bottom:20px;
}

.error
{
	margin:0 auto;
	border:3px solid #d3153b;
	background-color:#fbe6f2;
	padding:5px;
	width:80%;
	text-align:center;
	font-size:18px;
	margin-bottom:20px;
	
}

.form_field_label
{
	float:left;
	margin-left:20px;
	width:30%;
}

.form_field
{
	float:left;
	width:30%;
}

#submit_button
{
	position:absolute;
	bottom:60px;
	right:60px;
}

input
{
	font-family:Arial;
}

div#topcorners {
background: #333;
height: 10px;
width: 940px;
margin: 0 auto;
position: relative;
}
div#topcorners div.cleft {
position: absolute;
width: 10px;
height: 10px;
background: #333 url("../images/content_corner_sprite2_01.gif") 0px 0px no-repeat;
top: 0;
left: -10px;
}
div#topcorners div.cright {
position: absolute;
width: 10px;
height: 10px;
background: #333 url("../images/content_corner_sprite2_01.gif") -12px 0px no-repeat;
top: 0;
right: -10px;
}

div#bottomcorners {
background: #f5f5ef;
height: 10px;
width: 940px;
margin: 0 auto;
position: relative;
}
div#bottomcorners div.cleft {
position: absolute;
width: 10px;
height: 10px;
background: url("../images/content_corner_sprite2_01.gif") 0px -12px no-repeat;
top: 0;
left: -10px;
}
div#bottomcorners div.cright {
position: absolute;
width: 10px;
height: 10px;
background: url("../images/content_corner_sprite2_01.gif") -12px -12px no-repeat;
top: 0;
right: -10px;
}
